{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Truck Driver Profile</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{% static 'js/main.js' %}"></script>
    
</head>
<body>
    <img src="{% static 'media/images/christy-transport-logo-1.png' %}" alt="Truck" class="truck1">
    <h1>Create Truck Driver Profile</h1>
    <div>
        <div>
            <form id="myForm" method="post" enctype="multipart/form-data">
                <div>
                    <div>
                        {% csrf_token %}
                        <b>{{ form.as_p }}</b>
                        <button type="submit" onclick="alert('\n\nSuccessfully Created')"><i class="fas fa-user-plus"></i> Register Driver</button>     
                    </div>
                </div>
                
                <button><a href="{% url 'success_page' %}"><i class="fas fa-arrow-left"></i> Back</a></button>
                
                <button><a href="{% url 'list_drivers' %}"><i class="fas fa-users"></i> See all Drivers</a></button>
            </form>
        </div>
    </div>
    
    <script>
        ResetForm();
        clearForm();
    </script>
</body>
</html>
