/* Add these styles to your existing CSS file, or create a new one */

body {
  justify-content: center;
  text-align: center;
  background: linear-gradient(45deg, #ff6cce, #0fc749, #c9e60d, #fdfef5);
	background-size: 400% 400%;
  /* background-repeat: no-repeat; */
	animation: gradient 5s ease infinite;
	/* height: 100%; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
  h1 {
    color: #333;
  }
  
  p {
    font-size: 1.2em;
    color: #555;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid black;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
a {
    text-decoration: none;
    color: inherit;
  }
  
a:hover{
    color: white;
    font-weight: bold;
    background-color: #45a049;
    cursor: pointer;
    border-radius: 15%;
}

/* Make the list area scrollable */
ul {
    max-height: 150px; /* Adjust the height as needed */
    overflow-y: auto;
    /* max-width: 250px; */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


#imagesDisplayer{
  width: 250px;
  height: 250px;
}



#LoginFailed{
  color: red;
  font-weight: bold;
}

/* Style for form container */
.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for input fields */
  .form-container input[type="text"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Style for login button */
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hover effect for login button */
  .form-container button:hover {
    background-color: #45a049;
  }

  #DeleteDriverButton{
    background-color: red;
    color: white;
    font-weight: bold;
  }

  #DeleteDriverButton:hover{
    background-color: rgb(190, 8, 8);
    color: white;
    font-weight: bold;
  }

.list-health-contract {
    display: grid;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    margin-left: 25%;
    margin-right: 25%;
    /* background-color: #837171; */
    background: linear-gradient(90deg, #685461, #356243, #828c40, #d8e193);
	  background-size: 400% 400%;
	  animation: gradient1 55s ease infinite;
    color: white;
    font-weight: bold;
}

@keyframes gradient1 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#searchInput{
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

#searchinput::placeholder {
  color: #aaa;
}

#searchInput:focus {
  border-color: #00ff08;
  box-shadow: 0 0 25px rgba(31, 5, 5, 0.8);
  background-color: #3c3b3b;
  color: white;
  font-weight: bold;
}



.truck {
  position: fixed;
  width: 200px;
  height: 70px;
  /* margin-bottom: 25px; */
  animation: moveForward 15s linear infinite;
  bottom: 0;
}



@keyframes moveForward {
  0%, 100% {
      left: 0;
      /* transform: scaleX(-1); */
      
  }
  100% {
      left: 100%;
      /* transform: scaleX(-1); */
  }
}



.truck1 {
  animation: shake 5s infinite;
  width: 200px;
  height: 70px;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-5px, 0); }
  40% { transform: translate(5px, 0); }
  60% { transform: translate(-5px, 0); }
  80% { transform: translate(5px, 0); }
  100% { transform: translate(0, 0); }
}




